<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sym.miaoshaodemo.dao.OrderMapper">
    <select id="getExistsMiaoShaOrder" resultType="HashMap">
        select m.* from ms_order_ref m
          where m.userId = #{userId}
          and m.goodsId = #{goodsId}
    </select>

    <select id="getHasMiaoShaOrder" resultType="com.sym.miaoshaodemo.domain.OrderInfo">
        select * from ms_order t
        where 1=1
        and t.userId = #{userId}
        and t.goodsId = #{goodsId}
    </select>

    <insert id="addOrder" parameterType="com.sym.miaoshaodemo.domain.OrderInfo">
        insert into ms_order (
          userId,
          goodsId,
          deliveryAddrId,
          goodsName,
          goodsCount,
          goodsPrice,
          orderChannel,
          status,
          createDate
        )values(
          #{orderInfo.userId},
          #{orderInfo.goodsId},
          #{orderInfo.deliveryAddrId},
          #{orderInfo.goodsName},
          #{orderInfo.goodsCount},
          #{orderInfo.goodsPrice},
          #{orderInfo.orderChannel},
          #{orderInfo.status},
          #{orderInfo.createDate}
        )
        <selectKey keyColumn="id" keyProperty="id" resultType="Integer" statementType="STATEMENT">
            select last_insert_id()
        </selectKey>
    </insert>

    <insert id="addOrderRef">
        insert into ms_order_ref(
          userId,
          orderId,
          goodsId
        )values(
          #{userId},
          #{orderId},
          #{goodsId}
        )
    </insert>
</mapper>